
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['features']">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['pricing']">Pricing</a>
          </li>
          <li class="nav-item">
              <a class="nav-link"  [routerLink]="['posts']">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  [routerLink]="['login']">Login</a>
              </li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron" >
     <p>
       <input type="checkbox" name="" id="" [(ngModel)] = "show"> Show / Hide
     </p>
        <h1 class="display-4" [appHighLighter] = "color" *appMyNgIf="show" > {{title |
           uppercase}}</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
           <router-outlet></router-outlet>
          </div>
          <div class="col-md-4">
              <app-sidebar></app-sidebar>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
              <ul class="nav justify-content-center">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                </ul>
          </div>
        </div>
      </div>
      
  